.log-log {
  font-family: Menlo, monospace;
  font-size: 11px;
  line-height: 26px;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #f0f0f0;
  height: 24px;
  padding-left: 12px;
  padding-right: 6px;
  cursor: pointer;
}
.log-log:hover {
  background-color: #f6f6f6;
}
.log-log.selected {
  color: #ffffff;
  background-color: #a0a0a0 !important;
}
.log-error {
  font-family: Menlo, monospace;
  font-size: 11px;
  line-height: 26px;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ffd8d8;
  height: 24px;
  padding-left: 12px;
  padding-right: 6px;
  background-color: #ffefef;
  color: #ff0000;
  cursor: pointer;
}
.log-error:hover {
  background-color: #fee1e1;
}
.log-error.selected {
  color: #ffffff;
  background-color: #ff6060 !important;
}
.VirtualScroll {
  outline: none;
}
.log-text-details {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-family: Menlo, monospace;
  font-size: 11px;
  line-height: 18px;
  margin: 0;
}
.log-stack-file-400 {
  color: #c4aac6;
}
.log-stack-file-800 {
  color: #ba8bbc;
}
.log-stack-func {
  color: #aa0d91;
}
.Pane2 {
  display: flex;
  flex-direction: column;
}
.log-vertical-pane {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.log-vertical-pane-overflow {
  overflow-y: auto;
}
.log-vertical-pane .rc-tabs-top {
  border-bottom: none;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.log-vertical-pane .rc-tabs-tabpane-hidden {
  display: none !important;
}
.log-vertical-pane .rc-tabs-content, .log-vertical-pane .rc-tabs-tabpane {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.log-vertical-pane .rc-tabs-top .rc-tabs-bar {
  background-color: #f3f3f3;
  border-bottom: 1px solid #cccccc;
}
.log-vertical-pane .rc-tabs-top .rc-tabs-ink-bar {
  background-color: #3e82f7;
  height: 2px;
}
.log-vertical-pane .rc-tabs-nav div.rc-tabs-tab-active > .rc-tabs-tab-inner {
  color: #5a5a5a;
}
.log-vertical-pane .rc-tabs-nav div.rc-tabs-tab-active > .rc-tabs-tab-inner:hover {
  color: #3e82f7;
}
.log-vertical-pane .rc-tabs-nav .rc-tabs-tab > .rc-tabs-tab-inner {
  color: #5a5a5a;
  font-size: 12.5px;
  padding: 4px 20px;
  font-weight: 400;
}
.log-vertical-pane .rc-tabs-nav .rc-tabs-tab > .rc-tabs-tab-inner:hover {
  color: #3e82f7;
}
.log-vertical-pane .rc-tabs-top .rc-tabs-nav .rc-tabs-tab {
  margin-right: 0;
}
