.log-log {
  font-family: Menlo, monospace;
  font-size: 11px;
  line-height: 26px;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #f0f0f0;
  height: 24px;
  padding-left: 12px;
  padding-right: 6px;
  cursor: pointer;
}
.log-log:hover {
  background-color: #f6f6f6;
}
.log-log.selected {
  color: #ffffff;
  background-color: #a0a0a0 !important;
}
.log-error {
  font-family: Menlo, monospace;
  font-size: 11px;
  line-height: 26px;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ffd8d8;
  height: 24px;
  padding-left: 12px;
  padding-right: 6px;
  background-color: #ffefef;
  color: #ff0000;
  cursor: pointer;
}
.log-error:hover {
  background-color: #fee1e1;
}
.log-error.selected {
  color: #ffffff;
  background-color: #ff6060 !important;
}
.VirtualScroll {
  outline: none;
}
